[Desktop Entry]
Categories=GTK;GNOME;Utility
Comment[ru]=utility for upload graph files on dicom server
Comment=utility for upload graph files on dicom server
Exec=sh /opt/dicomimport/runsrv.sh
GenericName[ru]=
GenericName=
Icon=dic_icon
MimeType=
Name[ru]=Dicomimport
Name=Dicomimport
NoDisplay=false
Path=/opt/dicomimport
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
